<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebase.ui.database">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
