.gradle
*.iml
/local.properties
.idea/**
!.idea/codeStyleSettings.xml
.DS_Store
build
google-services.json
!/library/google-services.json

crashlytics-build.properties
auth/src/main/res/values/com_crashlytics_export_strings.xml
