<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firebase.ui.auth">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="@string/twitter_consumer_secret"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="${enableFbLogging}"/>

        <activity
            android:name=".KickoffActivity"
            android:label=""
            android:exported="false"
            android:theme="@style/FirebaseUI.Transparent"/>

        <activity
            android:name=".ui.email.RecoverPasswordActivity"
            android:label="@string/fui_title_recover_password_activity"
            android:exported="false"/>

        <activity
            android:name=".ui.email.RegisterEmailActivity"
            android:label="@string/fui_sign_in_default"
            android:exported="false"/>

        <activity
            android:name=".ui.phone.PhoneVerificationActivity"
            android:label="@string/fui_sign_in_with_phone_number"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:exported="false"/>

        <activity
            android:name=".ui.accountlink.WelcomeBackIdpPrompt"
            android:label="@string/fui_title_welcome_back_idp_prompt"
            android:exported="false"/>

        <activity
            android:name=".ui.accountlink.WelcomeBackPasswordPrompt"
            android:label="@string/fui_title_welcome_back_password_prompt"
            android:exported="false"/>

        <activity
            android:name=".ui.idp.AuthMethodPickerActivity"
            android:label="@string/fui_default_toolbar_title"
            android:exported="false"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/fui_app_name"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            tools:ignore="MissingRegistered" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            tools:ignore="MissingRegistered">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/facebook_login_protocol_scheme"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
