<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseUIAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.firebaseui.android.demo.MainActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/Theme.FirebaseUIAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="@string/firebase_web_host"
                    android:pathPattern="/__/auth/links" />
            </intent-filter>
        </activity>

        <!-- Auth -->
        <activity
            android:name="com.firebaseui.android.demo.auth.AuthChooserActivity"
            android:label="Auth Demos"
            android:exported="false"
            android:theme="@style/Theme.FirebaseUIAndroid" />

        <activity
            android:name="com.firebaseui.android.demo.auth.HighLevelApiDemoActivity"
            android:label="High-Level API Demo"
            android:exported="false"
            android:theme="@style/Theme.FirebaseUIAndroid" />

        <activity
            android:name="com.firebaseui.android.demo.auth.AuthFlowControllerDemoActivity"
            android:label="Low-Level API Demo"
            android:exported="false"
            android:theme="@style/Theme.FirebaseUIAndroid" />

        <activity
            android:name="com.firebaseui.android.demo.auth.CustomSlotsThemingDemoActivity"
            android:label="Custom Slots &amp; Theming Demo"
            android:exported="false"
            android:theme="@style/Theme.FirebaseUIAndroid" />

        <!-- Storage -->
        <activity
            android:name="com.firebaseui.android.demo.storage.StorageDemoActivity"
            android:label="Storage Demo"
            android:exported="false"
            android:theme="@style/Theme.FirebaseUIAndroid" />
    </application>

</manifest>
