<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebase.uidemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:name=".DemoApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light">

        <activity
            android:name=".RecyclerViewDemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Twitter Configuration -->
        <activity android:name="com.firebase.ui.auth.twitter.TwitterPromptActivity" />
        <meta-data
            android:name="com.firebase.ui.TwitterKey"
            android:value="@string/twitter_app_key"/>
        <meta-data
            android:name="com.firebase.ui.TwitterSecret"
            android:value="@string/twitter_app_secret"/>

        <!-- Facebook Configuration -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.firebase.ui.auth.google.GoogleSignInActivity" />


    </application>

</manifest>
