<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firebase.ui.auth.ui.github">

    <application>

        <activity
            android:name=".GitHubLoginActivity"
            android:label=""
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@style/FirebaseUI.Transparent">

            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/firebase_web_host"
                    android:path="/__/auth/handler"
                    android:scheme="https"
                    tools:ignore="AppLinksAutoVerifyWarning" />
            </intent-filter>

        </activity>

    </application>

</manifest>
