name: Artifactory

on:
  push:
    branches:
      - 'version-*-dev'

jobs:
  artifactory:
    runs-on: ubuntu-latest
    env:
      BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
      BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Publish to Artifactory
      run: ./scripts/artifactory.sh